@import '../../style/index.scss';

$border-width: rem(4);
$border-radius: rem(18);
.focus {
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  > span {
    border-style: solid;
    border-color: #cab870;
    width: 10%;
    height: 10%;
    position: absolute;

    &:nth-child(1) {
      border-width: $border-width 0 0 $border-width;
      border-radius: $border-radius 0 0 0;
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      border-width: $border-width $border-width 0 0;
      border-radius: 0 $border-radius 0 0;
      top: 0;
      right: 0;
    }

    &:nth-child(3) {
      border-width: 0 $border-width $border-width 0;
      border-radius: 0 0 $border-radius 0;
      bottom: 0;
      right: 0;
    }

    &:nth-child(4) {
      border-width: 0 0 $border-width $border-width;
      border-radius: 0 0 0 $border-radius;
      bottom: 0;
      left: 0;
    }
  }
}

.info {
  display: block;
  text-align: center;
  padding: rem(24);

  & > a {
    position: relative;
    z-index: 9;
    background-color: #cab870;
    color: #000;
    text-decoration: none;
    border-radius: rem(12);
    padding: rem(4) rem(8);
    font-size: rem(24);
  }
}
