@import '../../style/index.scss';
@import '../../style/screen.module.scss';

.balance {
  .row {
    display: flex;
    flex-direction: row;
    padding: rem(8) rem(24);
    align-items: center;

    .label {
      flex-shrink: 0;
      font-size: rem(18);
      width: 2.5em;
    }
    .content {
      flex-grow: 1;
    }
  }
}

/* desktop */
@media (min-width: $screen-boundary-width) and (min-height: $screen-boundary-height) {
  .balance {
    max-width: rem(400);
  }
}
