@import '../../style/index.scss';
@import '../../style/screen.module.scss';

@media (min-width: $screen-boundary-width) and (min-height: $screen-boundary-height) {
  .constellation {
    max-width: rem(500);
  }
}

.card {
  display: flex;
  margin: 0 rem(24);
  padding: rem(24) 0;
  & + & {
    border-top: 1px #aaa dashed;
  }

  .logo {
    flex-shrink: 0;
    width: 35%;
    margin-right: rem(24);
    box-sizing: border-box;
    color: #0091ff;
  }

  .content {
    flex-shrink: 1;
    flex-grow: 1;
  }

  .title {
    font-size: rem(18);
    font-weight: bold;
    color: #333;
  }

  .description {
    font-size: rem(14);
    margin-top: rem(12);
    color: #666;
    line-height: 1.5;
  }

  .link {
    font-size: rem(14);
    margin-top: rem(18);
    text-align: right;

    > a {
      display: inline-block;
      background-color: #eee;
      padding: rem(10) rem(12);
      border-radius: rem(4);
      color: #0091ff;
      text-decoration: none;
      user-select: none;

      &:active {
        opacity: 0.7;
      }
    }
  }
}
