/* 分界线 两者都大于分界线则认为是PC端 */
$screen-boundary-width: 1088px;
$screen-boundary-height: 688px;

:export {
  screenBoundaryWidth: $screen-boundary-width / 1px;
  screenBoundaryHeight: $screen-boundary-height / 1px;
}
