@import '../../style/index.scss';

.overlay,
.mask,
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  z-index: 10000;
}

.mask {
  z-index: -1;
}

.container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-cell {
  vertical-align: middle;
  display: table-cell;
}

.enter--active {
  transition: opacity 0.3s;
}

.enter--from {
  opacity: 0;
}

.enter--to {
  opacity: 1;
}
