@import '../../style/index.scss';

.overlay,
.mask,
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  z-index: 10000;
}

.mask {
  z-index: -1;
  background-color: rgba(#fff, 0.3);
}

.container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.enter--active {
  transition: opacity 0.3s;
}

.enter--from {
  opacity: 0;
}

.enter--to {
  opacity: 1;
}
