@import '../../style/index.scss';
@import '../../style/screen.module.scss';

$base-size: rem(1);

@function size($size) {
  @return $size * $base-size;
}

.camera {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.toolbar {
  position: relative;
  z-index: 10;
  flex-basis: size(50);
  flex-shrink: 0;
  background-color: #000;
  user-select: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__button {
    font-size: size(25);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      opacity: 0.7;
    }

    &[data-active='true'] {
      color: #cab870;
    }
  }
}

.view {
  flex-grow: 1;
}

.shutterbar {
  position: relative;
  z-index: 10;
  flex-basis: size(100);
  flex-shrink: 0;
  background-color: #000;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  .album {
    flex-basis: 25%;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      width: size(50);
      height: size(50);
      cursor: pointer;
      background-color: #333;
      background-position: center;
      background-size: cover;
      border-radius: rem(6);
    }
  }

  .shutter {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
      width: size(50);
      height: size(50);
      border: size(3) #fff solid;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;

      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        transform: scale(0.9);
        transition: transform 0.2s;
      }

      &:active {
        &::before {
          transform: scale(0.8);
        }
      }
    }
  }

  .switch {
    flex-basis: 25%;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      font-size: size(25);
      color: #fff;
      margin: 25%;
    }
  }
}

/* desktop */
@media (min-width: $screen-boundary-width) and (min-height: $screen-boundary-height) {
  .camera {
    border-radius: rem(20);
  }
}

/* 横屏 */
@media (orientation: landscape) {
  .camera {
    flex-direction: row;
  }

  .toolbar {
    flex-direction: column-reverse;
  }

  .shutterbar {
    flex-direction: column-reverse;
  }
}

/* album 相关动画 */
.scale-in--active {
  transition: transform 0.3s linear;
}

.scale-in--from {
  transform: scale(0);
}

.scale-in--to {
  transform: scale(1);
}

.mask {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

.fade-in--active {
  transition: opacity 0.2s ease;
}

.fade-in--from {
  opacity: 1;
}

.fade-in--to {
  opacity: 0;
}
